In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('Churn.csv')

In [3]:
X = pd.get_dummies(df.drop(['Churn', 'Customer ID'], axis=1))
y = df['Churn'].apply(lambda x: 1 if x=='Yes' else 0)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [7]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
2414,0,7,49.65,0,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
6821,0,59,93.35,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3272,1,12,101.35,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6141,0,3,19.95,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6689,0,12,20.30,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
y_train.head()

2414    0
6821    0
3272    1
6141    0
6689    0
Name: Churn, dtype: int64

# 1. Import Dependencies

In [1]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

ModuleNotFoundError: No module named 'sklearn'

In [1]:
!pip install psutil

zsh:1: command not found: pip

# 2. Build and Compile Model

# 3. Fit, Predict, and Evaluate

# 4. Saving and Reloading